body{
    margin: 0;
    padding-top: 90px;
}
@media (max-width: 768px) {
body {
    padding-top: 136px;
  }
} 

/* Clean up form elements in the search bar */
.navbar .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .form-control {
  border-radius: 0;
}

.navbar .btn-warning {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
